.article {
    font-size: 1.1rem;
    padding-bottom: 8rem;
    h1 {
        font-family: var(--font-smooch);
        display: block;
        font-size: 3rem;
        text-align: center;
        user-select: none;
    }
    h2 {
        font-family: var(--font-smooch);
        display: block;
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;
        user-select: none;
    }

    h3 {
        display: block;
        font-size: 1.2rem;
        user-select: none;
    }

    ul {
        list-style-type: disc;
        padding-left: 2rem;
    }
}
