.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: fixed;
    z-index: 1000;

    .menu {
        overflow: hidden;
        &.opened {
            height: auto;
            max-height: 500px;
        }

        &.closed {
            height: 20px;
            max-height: 0;
        }
    }
}

.navbutton {
    padding: 0.5rem;
    .link {
        span {
            display: inline-flex;
        }
    }
}
