.ArtworksList {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(230px, max-content));
    place-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
