.ArtworksList {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style: none;
    padding: 0;
    margin: 0;

    .ListItem {
        position: relative;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }
}
