.ListItem {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    &:hover {
        .Description {
            opacity: 1;
        }
    }

    .Description {
        opacity: 0;
        position: absolute;
        transition: opacity 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        padding: 1rem;

        h3 {
            font-size: 1.2rem;
        }

        p {
            font-size: 0.95rem;
        }
    }
}
